/* 
    Colors with Variables - v1.3 
======================================*/

/* @import url(root/custom-props.css); */
/*
Curent code 
======================*/

.primary {
    background: var(--primary);
    border: 1px var(--bdr-primary);
    color: var(--txt-invert);
}

.default {
    background: var(--default);
    border: 1px var(--bdr-default);
}

.success {
    background: var(--success);
    border: 1px var(--bdr-success);
    color: var(--txt-invert);
}

.info {
    background: var(--info);
    border: 1px var(--bdr-info);
}

.warning {
    background: var(--warning);
    border: 1px var(--bdr-warning);
}

.danger {
    background: var(--danger);
    border: 1px var(--bdr-danger);
    color: var(--txt-invert);
}

.invert {
    background: var(--invert);
    color: var(--txt-invert);
}

.border {
    border: 1px var(--style);
}
