/*
*==========================================* 
*  CSS Flexbox Classes - v1.1              *
*   (c)June 10.2019, built by @htmlstrap   *
*==========================================*/
@import url(root/custom-props.css);

/*  For Parent Element
=======================================
    flex-direction 
-------------------------------------*/

.row {
    flex-flow: var(--flex-row);
    /* default */
}

.row-rev {
    flex-flow: var(--row-rev);
}

.col {
    flex-flow: var(--flex-col);
}

.col-rev {
    flex-flow: var(--col-rev);
}

/* flex-wrap 
-------------------------------------*/

.nowrap {
    flex-wrap: var(--nowrap);
    /* default */
}

.flex-wrap {
    flex-wrap: var(--flex-wrap);
}

.wrap-rev {
    flex-wrap: var(--wrap-rev);
}

/* flex-flow in row
-------------------------------------*/

.row-wrap {
    flex-flow: var(--row-wrap);
}

.row-nowrap {
    flex-flow: var(--row-nowrap);
}

.row-wrap-rev {
    flex-flow: var(--row-wrap-rev);
}

.row-rev-wrap {
    flex-flow: var(--row-rev-wrap);
}

.row-rev-nowrap {
    flex-flow: var(--row-rev-nowrap);
}

.row-rev-wrap-rev {
    flex-flow: var(--row-rev-wrap-rev);
}

/* flex-flow in col
-------------------------------------*/

.col-wrap {
    flex-flow: var(--col-wrap);
}

.col-nowrap {
    flex-flow: var(--col-nowrap);
}

.col-wrap-rev {
    flex-flow: var(--col-wrap-rev);
}

.col-rev-wrap {
    flex-flow: var(--col-rev-wrap);
}

.col-rev-nowrap {
    flex-flow: var(--col-rev-nowrap);
}

.col-rev-wrap-rev {
    flex-flow: var(--col-rev-wrap-rev);
}

/*=====================================
    FlexBox for Parent Element
---------------------------------------
    justify-content - X (axis) 
-------------------------------------*/
[class*="justify-"]{
    display: var(--d-flex);
}
.justify-start {
    justify-content: var(--left);
}

.justify-center {
    justify-content: var(--center);
}

.justify-end {
    justify-content: var(--right);
}

.justify-between {
    justify-content: var(--between);
}

.justify-around {
    justify-content: var(--around);
}

.justify-evenly {
    justify-content: var(--evenly);
}

/*
    align-items
-------------------------------------*/
[class*="items-"]{
    display: var(--d-flex);
}
.items-expand {
    align-items: var(--expand);
}

.items-top {
    align-items: var(--top);
}

.items-bottom {
    align-items: var(--bottom);
}

.items-center {
    align-items: var(--center);
}

.items-base {
    align-items: var(--base);
}

/*
    align-content - Y (axis)
-------------------------------------*/
[class*="align-"]{
    display: var(--d-flex);
}
.align-expand {
    align-content: var(--expand);
}

.align-start {
    align-content: var(--start);
}

.align-end {
    align-content: var(--end);
}

.align-center {
    align-content: var(--center);
}

.align-between {
    align-content: var(--between);
}

.align-around {
    align-content: var(--around);
}

/*    FlexBox for Child Element
=======================================
    align-self
--------------------------------------*/
[class*="self-"]{
    display: var(--d-flex);
}
.self-expand {
    align-self: var(--expand);
}

.self-start {
    align-self: var(--start);
}

.self-end {
    align-self: var(--end);
}

.self-center {
    align-self: var(--center);
}

.self-base {
    align-self: var(--base);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cell {
    flex-basis: var(--device-width);
    margin: 5px 0;
    padding: var(--inner);
}

.row {
    display: var(--d-flx);
    flex-flow: var(--row-nowrap);
}

.col {
    flex-direction: var(--flex-col);
}

[class*="col"] {
    margin: 0 var(--wide);
    padding: var(--inner);
    height: auto;
}

@media screen and (min-width: 922px) {

    .col-1 {
        -ms-flex: 0 0 .8;
        flex: 0 0 .8;
        width: calc((1 / 12) * 100%);
    }

    .col-2 {
        -ms-flex: 0 0 1.6;
        flex: 0 0 1.6;
        width: calc((2 / 12) * 100%);
    }

    .col-3 {
        -ms-flex: 0 0 2.5;
        flex: 0 0 2.5;
        width: calc((3 / 12) * 100%);
    }

    .col-4 {
        -ms-flex: 0 0 3.3;
        flex: 0 0 3.3;
        width: calc((4 / 12) * 100%);
    }

    .col-5 {
        -ms-flex: 0 0 4.1;
        flex: 0 0 4.1;
        width: calc((5 / 12) * 100%);
    }

    .col-6 {
        -ms-flex: 0 0 5;
        flex: 0 0 5;
        width: calc((6 / 12) * 100%);
    }

    .col-7 {
        -ms-flex: 0 0 5.8;
        flex: 0 0 5.8;
        width: calc((7 / 12) * 100%);
    }

    .col-8 {
        -ms-flex: 0 0 6.6;
        flex: 0 0 6.6;
        width: calc((8 / 12) * 100%);
    }

    .col-9 {
        -ms-flex: 0 0 7.5;
        flex: 0 0 7.5;
        width: calc((9 / 12) * 100%);
    }

    .col-10 {
        -ms-flex: 0 0 8.3;
        flex: 0 0 8.3;
        width: calc((10 / 12) * 100%);
    }

    .col-11 {
        -ms-flex: 0 0 9.1;
        flex: 0 0 9.1;
        width: calc((11 / 12) * 100%);
    }

    .col-12 {
        -ms-flex: 0 0 10;
        flex: 0 0 10;
        width: calc((12 / 12) * 100%);
    }
}
